@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex&display=swap");
@import "tailwindcss";

:root {
  --background: #11161c;
  --foreground: #212227;
  --white: #ffffff;
  --orange: #fe3600;
  --orange8: #fe370008;
  --purple: #5500ff;
  --gradient: linear-gradient(90deg, #212227 0%, #2c0083 100%);
  --gray: #3c3c3c;
  --text-second: #afafb1;
  --text-tertiary: #7a7a7d;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #11161c;
    --foreground: #212227;
  }
}

body {
  background: var(--background);
  color: var(--white);
  font-family: "Roboto Flex", sans-serif;
}
